/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #153677, #4e085f);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(241, 246, 244);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
    font-family: 'Bungee Spice', cursive;
    font-size: 36px;
  }
  
  .search-box {
    display: flex;
    justify-content: center; /* Center the search box */
    align-items: center;
    margin-bottom: 40px;
  }

  #currentPage{
    margin-top: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
  }
  
  button {
    padding: 12px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #movieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .movie {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .movie img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .movie:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .movie h3 {
    margin: 10px;
    font-size: 14px;
    text-align: center;
    color: #444;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
    
  }
  
  .pagination button:hover {
    background-color: #ccc;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .modal h2 {
    margin-top: 0;
    text-align: center;
    color: #007bff;
  }
  
  .modal img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .modal p {
    line-height: 1.6;
  }
  
  .modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .modal input[type="number"],
  .modal input[type="text"] {
    width: 575px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
  }
  
  .modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .modal ul li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  /* Add a loading spinner */
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  